<div class="flex items-center justify-center min-h-screen">
  <div class="flex bg-white w-[800px] shadow-md rounded-md">

    <!-- Wrapper left -->
    <div class="flex-1 px-8 py-6">

      @if (formType === 'forgot') {
        <div class="mt-12">
          <h1 class="text-xl font-semibold">Yêu cầu đặt lại mật khẩu</h1>
          <small class="text-gray-400">Vui lòng cung cấp địa chỉ email đăng ký tài khoản của bạn</small>
        </div>
        @if (forgotStatus === "success") {
          <nz-alert  nzShowIcon nzType="success" nzMessage="Chúng tôi đã gửi yêu cầu. Vui lòng kiểm tra email của bạn" class="mt-3"></nz-alert>
        } @else if (forgotStatus === "error") {
          <nz-alert nzShowIcon nzType="error" nzMessage="Địa chỉ email không tồn tại" class="mt-3"></nz-alert>
        }
        <form nz-form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()" class="mt-8">
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
              <nz-input-group nzPrefixIcon="mail" nzSize="large" class="rounded-md">
                <input
                  type="text"
                  nz-input
                  formControlName="email"
                  placeholder="enter your email"
                />
              </nz-input-group>
              <ng-template #emailErrorTpl let-control>
                @if (control.errors?.['required']) { Vui lòng nhập địa chỉ email }
                @if (control.errors?.['pattern']) { Email không đúng định dạng }
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <button nz-button nzType="primary" nzBlock nzSize="large" class="rounded-md" [nzLoading]="loading$ | async">
            Tiếp tục
          </button>
        </form>
        <button routerLink="/auth/sign-in" nz-button nzBlock nzSize="large" class="flex justify-center items-center rounded-md mt-2" [disabled]="loading$ | async">
          Quay lại đăng nhập
        </button>
      }

      @else if (formType === 'verify') {
        @if (verifyStatus === 'idle') {
          <div class="mt-12">
            <h1 class="text-2xl font-semibold">Đang xác thực xin vui lòng đợi trong giây lát...</h1>
            <span nz-icon nzType="loading" nzTheme="outline" class="mt-2 text-[28px]"></span>
          </div>
        } @else if (verifyStatus === 'error') {
          <h1 class="text-2xl font-semibold mt-[80px]">Yêu cầu đặt lại mật khẩu đã hết hạn hoặc không hợp lệ</h1>
          <button routerLink="/auth/sign-in" nz-button nzBlock nzSize="large" class="flex justify-center items-center rounded-md mt-4" [disabled]="loading$ | async">
            Quay lại đăng nhập
          </button>
        }
      }

      @else if (formType === 'newPassword') {
        <div class="mt-12">
          <h1 class="text-xl font-semibold">Đặt lại mật khẩu mới</h1>
          <small class="text-gray-400">Nhập mật khẩu mới cho tài khoản của bạn</small>
        </div>
        @if (newPasswordStatus !== 'success') {
          @if (newPasswordStatus === 'error') {
            <nz-alert nzShowIcon nzType="error" nzMessage="Có lỗi xảy ra. Xin vui lòng thử lại" class="mt-3"></nz-alert>
          }
          <form nz-form [formGroup]="newPasswordForm" (ngSubmit)="onNewPassword()" class="mt-8">
            <!-- password -->
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                <nz-input-group [nzSuffix]="showPasswordTpl" nzPrefixIcon="lock" nzSize="large" class="rounded-md">
                  <input
                    [type]="passwordVisible ? 'text' : 'password'"
                    nz-input
                    formControlName="newPassword"
                    placeholder="enter your new password"
                  />
                  <ng-template #showPasswordTpl>
                    <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></span>
                  </ng-template>
                </nz-input-group>
                <ng-template #passwordErrorTpl let-control>
                  @if (control.errors?.['required']) { Vui lòng nhập mật khẩu }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <!-- confirm password -->
            <nz-form-item>
              <nz-form-control nzHasFeedback [nzErrorTip]="confirmPasswordErrorTpl">
                <nz-input-group [nzSuffix]="showConfirmPasswordTpl" nzPrefixIcon="lock" nzSize="large" class="rounded-md">
                  <input
                    [type]="confirmPasswordVisible ? 'text' : 'password'"
                    nz-input
                    formControlName="confirmPassword"
                    placeholder="enter confirm new password"
                  />
                  <ng-template #showConfirmPasswordTpl>
                    <span nz-icon [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'" (click)="confirmPasswordVisible = !confirmPasswordVisible"></span>
                  </ng-template>
                </nz-input-group>
                <ng-template #confirmPasswordErrorTpl let-control>
                  @if (control.errors?.['required']) { Vui lòng nhập mật khẩu }
                  @if (control.errors?.['notMatched']) { Mật khẩu nhập lại không khớp }
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <button nz-button nzType="primary" nzBlock nzSize="large" class="rounded-md" [nzLoading]="loading$ | async" class="mt-6">
              Xác nhận
            </button>
          </form>
        } @else {
          <nz-alert nzShowIcon nzType="success" nzMessage="Cập nhật mật khẩu mới thành công" class="mt-3"></nz-alert>
          <button routerLink="/auth/sign-in" nz-button nzBlock nzSize="large" class="flex justify-center items-center rounded-md mt-4" [disabled]="loading$ | async">
            Quay lại đăng nhập
          </button>
        }
      }
    </div>

    <!-- Wrapper right -->
    <div class="flex-1">
      <img
        class="w-full h-full bg-center bg-no-repeat bg-cover rounded-r-md"
        ngSrc="shared/assets/images/login-banner.jpeg"
        alt="cat"
        height="848" width="636"/>
    </div>
  </div>
</div>
