<div class="h-full w-[360px] mx-auto">
  <div class="text-center pt-[120px]">
    <h1 class="font-semibold">Yêu cầu đặt lại mật khẩu</h1>
    <small class="text-gray-400">Vui lòng cung cấp địa chỉ email đăng ký tài khoản của bạn</small>
  </div>
  <p-messages />
  <form [formGroup]="form" class="mt-4">
    <!--Email-->
    <div class="flex flex-col gap-1 mb-4">
      <label>Email:</label>
      <input
        pInputText
        formControlName="email"
        (keydown.enter)="onSubmit()"
      />
      <ng-container *ngIf="form.get('email')?.dirty">
        <small *ngIf="form.get('email')?.errors?.['required']" class="text-red-600">Không bỏ trống email</small>
        <small *ngIf="form.get('email')?.errors?.['pattern']" class="text-red-600">Email không đúng định dạng</small>
      </ng-container>
    </div>
  </form>
  <p-button
    (onClick)="onSubmit()"
    [loading]="loading"
    [disabled]="status === 'success'"
    label="Tiếp tục"
    styleClass="w-full bg-primary"
  />
  <p-button
    routerLink="/auth/sign-in"
    [disabled]="loading"
    label="Quay lại đăng nhập"
    severity="secondary"
    styleClass="w-full mt-2"
  />
</div>
