<together-container componentClass="h-full">
  <div class="flex items-center justify-between mb-6">
    <div class="font-semibold text-[18px]">Thành viên</div>
    <p-dropdown
      [options]="dailyUserReportOptions"
      [(ngModel)]="selectedDailyUserReportType"
      (ngModelChange)="onSelectedDailyUserReportTypeChange($event)"
      optionLabel="label"
      optionValue="value"
      placeholder="Select a City"
    />
  </div>
  <p-chart
    type="bar"
    [data]="chartData"
    [options]="chartOptions"
  />
</together-container>
