<p-messages/>
<form [formGroup]="form">
  <!--Current Password-->
  <div class="flex flex-col gap-1 mb-4">
    <label>Mật khẩu hiện tại:</label>
    <p-password
      (keyup.enter)="onSubmit()"
      [feedback]="false"
      formControlName="currentPassword"
      toggleMask
      styleClass="w-full"
      inputStyleClass="w-full"
    />
    <ng-container *ngIf="form.get('currentPassword')?.dirty">
      <small *ngIf="form.get('currentPassword')?.errors?.['required']" class="text-red-600">Nhập mật khẩu hiện tại</small>
    </ng-container>
  </div>
  <!--New password-->
  <div class="flex flex-col gap-1 mb-4">
    <label>Mật khẩu mới</label>
    <p-password
      (keyup.enter)="onSubmit()"
      [feedback]="true"
      formControlName="newPassword"
      toggleMask
      styleClass="w-full"
      inputStyleClass="w-full"
    />
    <ng-container *ngIf="form.get('newPassword')?.dirty">
      <small *ngIf="form.get('newPassword')?.errors?.['required']" class="text-red-600">Nhập mật khẩu mới</small>
    </ng-container>
  </div>
  <!--Confirm new password-->
  <div class="flex flex-col gap-1 mb-4">
    <label>Nhập lại mật khẩu mới</label>
    <p-password
      (keyup.enter)="onSubmit()"
      [feedback]="false"
      formControlName="confirmNewPassword"
      toggleMask
      styleClass="w-full"
      inputStyleClass="w-full"
    />
    <ng-container *ngIf="form.get('confirmNewPassword')?.dirty">
      <small *ngIf="form.get('confirmNewPassword')?.errors?.['required']" class="text-red-600">Nhập lại mật khẩu mới</small>
      <small *ngIf="form.get('confirmNewPassword')?.errors?.['matchTo']" class="text-red-600">Mật khẩu không trùng khớp</small>
    </ng-container>
  </div>
</form>
<!--Actions-->
<p-button (onClick)="onSubmit()" [loading]="loading" label="Cập nhật" styleClass="w-full"></p-button>
