<div class="h-full w-[360px] mx-auto">
  <div class="text-center pt-[120px]">
    <h1 class="font-semibold">Cập nhật mật khẩu mới</h1>
  </div>
  <p-messages/>
  <form [formGroup]="form" class="mt-4">
    <!--Email-->
    <div class="flex flex-col gap-1 mb-4">
      <label>Mật khẩu mới:</label>
      <p-password
        [feedback]="true"
        [toggleMask]="true"
        formControlName="newPassword"
        styleClass="w-full"
        inputStyleClass="w-full"
      />
      <ng-container *ngIf="form.get('newPassword')?.dirty">
        <small *ngIf="form.get('newPassword')?.errors?.['required']" class="text-red-600">Không bỏ trống mật khẩu</small>
      </ng-container>
    </div>
  </form>
  <p-button
    (onClick)="onSubmit()"
    [loading]="loading"
    [disabled]="status === 'success'"
    label="Tiếp tục"
    styleClass="w-full bg-primary"
  />
  <p-button
    routerLink="/auth/sign-in"
    [disabled]="loading"
    label="Quay lại đăng nhập"
    severity="secondary"
    styleClass="w-full mt-2"
  />
</div>
